<main class="page-detail container">
  <app-page-header icon="air" title="Visão Detalhada" subtitle="dados meteorologicos"></app-page-header>
  @if(cityWeatherForecast) {

  <section class="page-detail-intro">
    <div class="weather-intro">
      <mat-card>
        <mat-card-content>
          <mat-card-title class="mat-h1">{{cityWeatherForecast.current.condition.text}}</mat-card-title>
          <div class="weather-intro-temp">
            <div class="weather-intro-temp__wrapper">
              <img class="weather-intro-temp-img" src="{{cityWeatherForecast.current.condition.icon}}"
                alt="{{cityWeatherForecast.current.condition.text}}">
              <span class="weather-intro-temp-current">{{cityWeatherForecast.current.temp_c}}°</span>
            </div>
            <span class="weather-intro-temp-feels">Sensação de {{cityWeatherForecast.current.feelslike_c}}°C</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="forecast-grid">
      <app-city-weather-card-forecast [weather]="'current'"
        [cityWeatherForecast]="cityWeatherForecast"></app-city-weather-card-forecast>
      <app-city-weather-card-forecast [weather]="'tomorrow'"
        [cityWeatherForecast]="cityWeatherForecast"></app-city-weather-card-forecast>
    </div>
  </section>
  <section class="page-detail-forecast-daily">
    @for (day of cityWeatherForecast.forecast.forecastday; track $index) {
    <app-city-weather-card-daily-forecast [cityWeatherForecastDay]="day"></app-city-weather-card-daily-forecast>
    }
  </section>
  <section class="page-detail-forecast-hourly">
    <mat-tab-group>
      @for (day of cityWeatherForecast.forecast.forecastday; track $index) {
      <mat-tab label={{day.date}}>
        <div>
          @for (hour of day.hour; track $index) {
          <app-city-weather-card-hourly-forecast
            [cityWeatherForecastHour]="hour"></app-city-weather-card-hourly-forecast>
          }
        </div>
      </mat-tab>
      }
    </mat-tab-group>
  </section>



  }@else {
  <mat-spinner></mat-spinner>
  }

</main>