.daily-forecast {
  max-width: 100%;
  width: 100%;
}

.daily-forecast p {
  text-align: center;
}

.daily-forecast mat-card-content {
  display: flex;
  flex-direction: column;
}

.daily-forecast-date {
  white-space: nowrap;
  font-weight: 600;
  text-align: center;
}

.daily-forecast-img {
  max-width: 100px;
  width: 100%;
}

.daily-forecast-img-wrapper {
  text-align: center;
}

.daily-forecast-minmax-wrapper {
  text-align: center;
}
