<mat-card class="city-weather-natural-language">
  <mat-card-content>
    @if(weather === 'current') {
    <img src="{{cityWeatherForecast.current.condition.icon}}" alt="{{cityWeatherForecast.current.condition.text}}">
    <mat-card-title class="mat-h1">O tempo hoje</mat-card-title>
    <p>
      O tempo hoje em <b>{{cityWeatherForecast.location.name}}</b> é de
      <b>{{cityWeatherForecast.current.condition.text}}.</b>
      Durante o dia a temperatura máxima será de
      <b>{{cityWeatherForecast.forecast.forecastday[0].day.maxtemp_c}}ºC</b>
      e a
      mínima de <b>{{cityWeatherForecast.forecast.forecastday[0].day.mintemp_c}}ºC.</b>
      A velocidade máxima do vento pode ser de até
      <b>{{cityWeatherForecast.forecast.forecastday[0].day.maxwind_kph}}km/h.</b>
      A previsão indica que chuvas tem probabilidade de
      <b>{{cityWeatherForecast.forecast.forecastday[0].day.daily_chance_of_rain}}%.</b>
    </p>
    } @else {
    <img src="{{cityWeatherForecast.forecast.forecastday[1].day.condition.icon}}"
      alt="{{cityWeatherForecast.forecast.forecastday[1].day.condition.text}}">
    <mat-card-title class="mat-h1">O tempo amanhã</mat-card-title>
    <p>
      O tempo amanhã em <b>{{cityWeatherForecast.location.name}}</b> é de
      <b>{{cityWeatherForecast.forecast.forecastday[1].day.condition.text}}.</b>
      Durante o dia a temperatura máxima será de
      <b>{{cityWeatherForecast.forecast.forecastday[1].day.maxtemp_c}}ºC</b>
      e a
      mínima de <b>{{cityWeatherForecast.forecast.forecastday[1].day.mintemp_c}}ºC.</b>
      A velocidade máxima do vento pode ser de até
      <b>{{cityWeatherForecast.forecast.forecastday[1].day.maxwind_kph}}km/h.</b>
      A previsão indica que chuvas tem probabilidade de
      <b>{{cityWeatherForecast.forecast.forecastday[1].day.daily_chance_of_rain}}%.</b>
    </p>
    }
  </mat-card-content>
</mat-card>