<form class="search-form">
  <mat-form-field class="search-full-width">
    <mat-label>Busque por cidade</mat-label>
    <input type="text" matInput placeholder="Curitiba" [formControl]="control" [matAutocomplete]="auto"
      class="search-input">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelected($event.option.value)">
      @for (city of cities$ | async; track city) {
      <mat-option [value]="city.url">{{city.name + " - " + city.region + " - " + city.country}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>